<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="lsp_checkerframework.project"
            name="lsp_checkerframework.project"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="project">
      </content-type>
      <content-type
            id="lsp_checkerframework.contentType"
            name="Java file"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="java, test">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="lsp_checkerframework.project"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="lsp_checkerframework.contentType"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="lsp_checkerframework.ProjectPresentationReconciler"
            contentType="lsp_checkerframework.project">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="lsp_checkerframework.ProjectHoverProvider"
            contentType="lsp_checkerframework.project">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="lsp_checkerframework.ProjectContentAssistProcessor"
            contentType="lsp_checkerframework.project">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="lsp_checkerframework.ProjectAutoEditStrategy"
            contentType="lsp_checkerframework.project">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="lsp_checkerframework.ProjectReconciler"
            contentType="lsp_checkerframework.project">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="lsp_checkerframework.ValidatorDocumentSetupParticipant"
            contentTypeId="lsp_checkerframework.project"
            extensions="project">
      </participant>
   </extension>
   <extension
   		point="org.eclipse.lsp4e.languageServer">
	  <server
	  		class="lsp_checkerframework.LanguageServerStreamConnectionProvider"
            id="lsp_checkerframework.languageserver"
            label="lsp_checkerframework.languageserver">
      </server>
      <contentTypeMapping
      		contentType="org.eclipse.jdt.core.javaSource"
      		id="lsp_checkerframework.languageserver">
	  </contentTypeMapping>
	</extension>
	<extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.jdt.core.javaSource">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="LSP Checker Framework"
            class="lsp_checkerframework.LSPCheckerFrameworkPreferencePage"
            id="org.eclipse.ui.examples.readmetool.Page1">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="lsp_checkerframework.LSPCheckerFrameworkPreferenceInitializer"/>
   </extension>

</plugin>
