<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.checkerframework.languageserver.eclipse.project"
            name="org.checkerframework.languageserver.eclipse.project"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="project">
      </content-type>
      <content-type
            id="org.checkerframework.languageserver.eclipse.contentType"
            name="Java file"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="java, test">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.checkerframework.languageserver.eclipse.project"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.checkerframework.languageserver.eclipse.contentType"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.checkerframework.languageserver.eclipse.ProjectPresentationReconciler"
            contentType="org.checkerframework.languageserver.eclipse.project">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="org.checkerframework.languageserver.eclipse.ProjectHoverProvider"
            contentType="org.checkerframework.languageserver.eclipse.project">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.checkerframework.languageserver.eclipse.ProjectContentAssistProcessor"
            contentType="org.checkerframework.languageserver.eclipse.project">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="org.checkerframework.languageserver.eclipse.ProjectAutoEditStrategy"
            contentType="org.checkerframework.languageserver.eclipse.project">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="org.checkerframework.languageserver.eclipse.ProjectReconciler"
            contentType="org.checkerframework.languageserver.eclipse.project">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.checkerframework.languageserver.eclipse.ValidatorDocumentSetupParticipant"
            contentTypeId="org.checkerframework.languageserver.eclipse.project"
            extensions="project">
      </participant>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.checkerframework.languageserver.eclipse.LanguageServerStreamConnectionProvider"
            id="org.checkerframework.languageserver.eclipse.languageserver"
            label="org.checkerframework.languageserver.eclipse.languageserver">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="org.checkerframework.languageserver.eclipse.languageserver">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.jdt.core.javaSource">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Checker Framework LSP"
            class="org.checkerframework.languageserver.eclipse.LSPCheckerFrameworkPreferencePage"
            id="org.eclipse.ui.examples.readmetool.Page1">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.checkerframework.languageserver.eclipse.LSPCheckerFrameworkPreferenceInitializer"/>
   </extension>

</plugin>
